// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Descriptive color variables
$green: #56E086;
$green-alt:#1BB970;
$black: #2C2C2C;
// Functional color variables

// Asset paths
$path-image   :   '../images';
$path-fonts     :  '../../dist/fonts';

//Font Faces
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$path-fonts}/Inter-Regular.woff2?v=3.11') format('woff2'),
       url('#{$path-fonts}/Inter-Regular.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url('#{$path-fonts}/Inter-Medium.woff2?v=3.11') format('woff2'),
       url('#{$path-fonts}/Inter-Medium.woff?v=3.11') format('woff');
}



@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$path-fonts}/Inter-Bold.woff2?v=3.11') format('woff2'),
       url('#{$path-fonts}/Inter-Bold.woff?v=3.11') format('woff');
}


%image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
%image-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
// Font stacks
$baseFont: 'Inter', sans-serif; 