// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}

//common

body {
  line-height: 1.2;
  &#tinymce {
    background: inherit;
  }
}
main {
  position: relative;
  z-index: 10;
  min-height: calc(100vh - 500px);
}

//Loader
#loader {
  opacity: 0;
  pointer-events: none;
  &.visible {
    opacity: 1;
  }
}
//components/titles
.title{
  &--home {
    font-size: 18px;

  }
}

.text {
  line-height: 1.2;
  &__big {
    font-size: 30px;
  }
}


.card {
  &--poi {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
    a.permalink {
      width: calc(100% - 15px);
      height: 100%;
      position: absolute;
      &:hover {
        & + .box-color{
          background: darken($green-alt, 10);
        }
      }
    }    
    .box-color {
      background-color: $green-alt;
      min-height: 150px;
      padding:15px;
      transition: background 400ms ease;
      @include media-breakpoint-down(md) {
        height: 200px;
      }
    }
    .item--poi {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 100px;
      margin-bottom: 20px;
      @extend %image-contain;
      @include media-breakpoint-down(md) {
        height: 120px;
      }
      

    }
    .text {
      font-size: 16px;
      color: white;
      text-align: center;
      display: block;
    }
  }
  &--news {
    &__home {
      .image {
        @extend %image-cover;
        transition: transform 2000ms ease;
        transform-origin: center center;
        @include media-breakpoint-down(md) {
          height: 280px;
        }
        
        &--container {
          overflow: hidden;
          pointer-events: none;
        }
      }
      .item-news {
        position: relative;
        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
        }
      }
      a.permalink {
        width: 100%;
        height: 100%;
        position: absolute;
        &:hover {
          & + .image--container > .image {
            transform: scale(1.5);
            
          }
          & + .image--container + .box-color{
            
              background: darken($green-alt, 10);
            
          }
        }
      }
    }
  }
}
//Component Card News
.item-news {
  .image {
    height: 180px;
    background-position: center;
    background-size: cover;
  }
  .box-color {
    background:$green-alt;
    color:white;
    padding:15px;
    min-height: 160px;
    transition: background 400ms ease;
  }
  .date {
    display: block;
    font-weight: 700;
    margin:0 0 15px;
    font-size: 13px;
  }
  .text {
    display: block;
  }
}

//Home 
//Hack para ocultar el header que mete el base
body.home {
  header.banner {
    &:first-of-type {
      display: none;
    }
  }
  main.home {
    header.banner {
      display: block;
    }
  }
}
.home--info {
  .row {
    margin-bottom: 120px;
  }
}
.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down (md) {
    flex-wrap: wrap;
  }
  

  .weather-info--col {
    font-size: 66px;
    color: white; 
    @include media-breakpoint-down (sm) {
      font-size: 40px;
    }
    @include media-breakpoint-down (xs) {
      font-size: 40px;
    }
    #icon {
      width: 100px;
      @include media-breakpoint-down (sm) {
        width: 70px;
      }
      
      
    }
  }
}

//Footer
footer {
  background:$black;
  color:white;
  padding:50px 0;
  position: relative;
  z-index: 10;
  .nav {
    display: table;
    margin-bottom: 30px;
    li {
      margin-bottom: 10px;
      &:last-child(){
        margin:0;
      }
      a {
        color: white;
      }
    }
    
  }
  .address {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    p {
      @include media-breakpoint-down(md){
        display: table;
        width: 100%;
      }
      &:last-child(){
        margin:0;
      }
    }
    
  }
  
  .logos-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include media-breakpoint-down(md){
      justify-content: center;
      margin: 30px 0 0; 
    }
    @include media-breakpoint-down(xs){
      justify-content: center;
      flex-wrap: wrap;
    }
    .image {
      @include media-breakpoint-down(xs){
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
      }
      
      &.img-ajuntament {
        img {
          max-width: 120px;
        }
        @include media-breakpoint-down(xs){
          margin-bottom: 30px;
        }
      }
      &.img-v {
        img {
          max-width: 180px;
          margin-left: 30px;
          @include media-breakpoint-down(xs){
            max-width: 170px;
          }
          
        } 
      }
      img {
        @include media-breakpoint-down(xs){
          max-width: 120px;
        }
      }
    }
  }
}

//Page Map 
.page-template-template-map {
  header.banner {
    position: fixed;
    top: 0;
    z-index: 100000;
    width: 100%;
  }
  #map {
    height: calc(100vh - 207px);
    @include media-breakpoint-down(sm) {
      height: 100vh;
    }
  }
}

//Page Itineraris
.page-template-template-itineraris,
.page-template-template-fonts {
  .list-items{
    padding-bottom: 120px;
  }
  .item-place {
    margin-bottom: 30px;
    position: relative;

    .image {
      position: relative;
    }
    .box-color {
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
      background: black;
      mix-blend-mode: color;
      transition: 200ms opacity ease-in-out;
    }
    .title-item {
      font-weight: 400;
      font-size: 22px;
      transition: 200ms color ease-in-out;
    }
    .location {
      font-size: 14px;
      transition: 200ms color ease-in-out;
    }
    &:hover {
      .title-item,
      .location {
        color:white;
      }
      .box-color {
        opacity: 0;
      }
    }
  }
}




//Component Map 
#map-main,
#map {
  height: 500px;
}
.leaflet-control-attribution.leaflet-control {
  display: none !important;
}
.leaflet-top.leaflet-right {
  position: absolute;
  top: auto;
  bottom: 70px;
  right: 0;
}
div.leaflet-container {
  font-family: $baseFont !important;  
  .leaflet-popup-content {
    line-height: 1.2;
    margin: 23px 29px 13px 19px;

    .title{
      display: block;
      font-size: 22px;
      
      font-weight: 900;
      letter-spacing: 0;
      margin: 0 0 5px;
    }
    .address {
      font-size: 14px;
      display: block;
      margin: 0 0 5px;
    }
    a {
      font-size: 14px;
      display: block;
      color: $green !important;
    }

  }
  a.leaflet-popup-close-button {
    color: $green !important;
    border: 2px solid $green !important;
    width: 16px;
    height: 16px;
    padding: 0;
    top: 5px;
    right: 5px;
    line-height: 0.6;
  }
}

//List Places 

.venue {
  &--header {
    margin-bottom: 60px;
    h1 {
      font-size: 40px;
      font-weight: 500;
    }
    .address {
      display: block;
      margin: 0 0 10px;
    }
    .info {
      display: block;
      
      a {
        color:$black;
        margin: 25px 0 0 0;
        border: 2px solid $black;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 100px;
        text-decoration: none;
        transition: 200ms ease all;
        &:hover {
          background: $black;
          color: white;
        }
      }
    }
  }
  &--list {}
  &--item {
    margin: 0 0 60px;
    position: relative;
  }


  &--box-color {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    transition: 300ms ease opacity;
  }
  &--image {
    height: 100%;
    width: 100%;
    @extend %image-cover;

    &__container {
      position: relative;
      pointer-events: none;
      height: 220px;
    }
  }
  &--title {
    font-size: 22px;
    margin: 5px 0 10px;
    transition: 300ms ease color;
  }
  &--location {
    transition: 300ms ease color;
  }
  &--permalink {
    position: absolute;
    width: calc(100% - 15px);
    height: 100%;
    top: 0;
    left: 7.5px;
    &:hover {
      & ~ .venue--image__container > .venue--box-color {
        
          opacity: 0;
        }
        & ~ .venue--title,
        & ~ .venue--location  {
          color: white;
        }
      }
    }

  &--single {
    padding-bottom: 120px;
    &--content {
      line-height: 1.3;
      font-size: 20px;
      p {
        margin: 0 0 20px;
      }
    }
    &__image{
      margin: 0 0 30px;
      img {
      max-width: 100%;
      height: auto;
      }
    }
  }



  }

  main.single-lugar {
    padding-bottom: 120px;
    #mapid {
      height: 320px;
      border: 3px solid #ece1cb;
    }
  }

//Mouse behaviour 

.circle {
  position: fixed;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  left:-10px;
  top:-10px;
  border-radius: 100%;
  z-index: 10000;
  transform: scale(1);
  background: transparent;
  pointer-events: none;
}
.circle-follow {
  position: fixed;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  border-radius: 100%;
  z-index: 1;
  transform: scale(1);
  background-image:url('#{$path-image}/mouse.svg');
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}


//Suggeriments
main.page-template-template-suggeriments {
  .page-header {
    h1 {
      margin: 0 0 50px;
    }
  }
  section.contact-form {
    input, textarea {
      background: transparent;
      border: 1px solid white;
      border-radius: 10px;
      resize: none;
      &::placeholder {
        color: $black;
      } 
      
    }
    input.wpcf7-submit {
      color: $black;
      padding: 10px 15px;
      margin-left: 15px;
    }
    .form-check {
      padding-left: 15px;
      font-size: 12px;
      label {
        margin: 0;
        display: flex;
        align-items: flex-end;
        a {
          margin: 0 3px;
        }
      }
    }
    .textarea-container {
      & > * {
        height: 100%;
      }  
      textarea {
        min-height: 420px;
      }
    }
  }
}

//Swiper

.swiper-pagination-bullet {
  background: white;
  &.swiper-pagination-bullet-active {
    background: white;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}
.swiper-button-prev.disabled,
.swiper-button-next.disabled,
.swiper-pagination.disabled {
  display: none;
}



.marker-cluster-small {
  background-color: rgb(241, 211, 87) !important;
  & > div {
    
    background-color: rgb(240, 194, 12) !important;
    & > span {
      color: #212529;
    }
  }
}

span.cat-list {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin: 0 6px 0 0;
    border-radius: 100px;
    right: -4px;
    &.category1 {
      background-color: #237cc9;
    }
    &.category2 {
      background-color: #25ad20;
    }
    &.category3 {
      background-color: #7b7b7b;
    }
    &.category4 {
      background-color: #cb862d;
    }
    &.category5 {
      background-color: #cb2c3e;
    }
    &.category6 {
      background-color: #9c2bcb;
    }
    &.category7 {
      background-color: #cbc526;
    }
}


