header.banner {
  background-image:url('#{$path-image}/menu-deg.svg');
  height: 300px;
  padding-top: 40px;
  background-repeat: repeat-x;
  
  & > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .nav {
    li {
      margin-left: 30px;
      &.current-menu-item {
        a {
          font-weight: 700;
        }
      }
    }
    a {
      color:black;
      font-size: 26px;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
      }
      
      
    }
  }
}

.page-header {
  margin-bottom: 60px;
  h1 {
    font-weight: 400;
    font-size: 60px;
  }
}